<div class="container" >
  <div class="container__tabs">
    <ul class="container__tabs-list">
      <li *ngFor="let item of pages" class="container__tabs-item" (click)="page = item.type" 
        [ngClass]="{active: page === item.type}">{{item.name}}</li>
    </ul>
  </div>
  <div [ngSwitch]="page">
    <div class="container__counter" *ngSwitchCase="'counter'">
      <app-counter></app-counter>
    </div>
    <div class="container__dynamic" *ngSwitchCase="'dynamic'">
      <app-dynamic></app-dynamic>
    </div>
    <div class="container__switch" *ngSwitchCase="'switch'">
      <app-switch></app-switch>
    </div>
    <div class="container__render" *ngSwitchCase="'render'">
      <app-rendering></app-rendering>
    </div>
    <div class="container__list" *ngSwitchCase="'task'">
      <app-tasks></app-tasks>
    </div>
    <div class="container__circles" *ngSwitchCase="'circle'">
      <app-circle></app-circle>
    </div>
  </div>
</div>
