<div class="container" >
  <h1 class="container__title">{{title}}</h1>
  <h2 class="container__subtitle">Односторонний и двустронооий рендеренг</h2>
  <div class="container__inputs">
    <h2>{{inputText}}</h2>
    <input type="text" [value]="inputText">
    <input type="text" [(ngModel)]="inputText">
  </div>
  <div class="container__list">
    <ol>
      <li *ngFor="let item of taskList" class="container__list-item">
        {{item}}
      </li>
    </ol>
    <div>
      <input type="text" [(ngModel)]="newTask">
      <button (click)="addTask()">Add task</button>
    </div>
  </div>
  <div class="container__circles">
    <button (click)="showRedCircle()" class="container__circles-btn">Red Circle</button>
    <div class="circle" [ngClass]="{'red__cirkle':redCircle}"></div>
    <button (click)="showCircle()" class="container__circles-btn">Show Circle</button>
    <div class="circle" *ngIf="circle"></div>
  </div>
  <div class="container__tabs">
    <button class="container__tabs-btn" (click)="changePage('counter')" [ngClass]="{active: activeCounter}">Counter</button>
    <button class="container__tabs-btn" (click)="changePage('dynamic')" [ngClass]="{active: activeDynamic}">Dynamic text</button>
    <button class="container__tabs-btn" (click)="changePage('switch')" [ngClass]="{active: activeSwitch}">Switch Case</button>
  </div>
  <div [ngSwitch]="page">
    <div class="container__counter" *ngSwitchDefault="'counter'">
      <app-counter></app-counter>
    </div>
    <div class="container__dynamic" *ngSwitchCase="'dynamic'">
      <app-dynamic></app-dynamic>
    </div>
    <div class="container__switch" *ngSwitchCase="'switch'">
      <app-switch></app-switch>
    </div>
  </div>
</div>
